/* CONFIGURATION */

/* Bodytext font */
$font: 'siphon-regular', 'proxima-nova', 'helvetica neue', 'helvetica', 'arial', sans-serif;

/* Font for headings */
$fontheadings: 'siphon-semibold', 'proxima-nova', 'helvetica neue', 'helvetica', 'arial', sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

/* IMPORT CSS FILES */
@import "fonts";
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";
